.themebtn {
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    border-radius: 0px;
    border: 2px solid $theme1;
    overflow: hidden;
    padding: 11px 30px;
    display: inline-block;
    position: relative;
    color: $white;
    z-index: 1;
    text-transform: capitalize;
    transition: all ease-in-out 0.3s !important;
    &::before{
        content: '';
        width: calc(100% + 4px);
        height: 100%;
        background: linear-gradient(90deg, rgb(darken($theme1, 15), 1) 0%, rgb($theme1, 1) 100%);
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: -1;
    }
    &:hover, &.outline{
        color: darken($theme1, 10);
        &::before{
            width: 60%;
            opacity: 0;
            visibility: hidden;
        }
    }
    &.outline{
        &:hover{
            color: $white;
            &::before{
                width: calc(100% + 4px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.dark{
        border-color: $theme2;
        &::before{
            background: linear-gradient(90deg, rgb(darken($theme2, 15), 1) 0%, rgb($theme2, 1) 100%);
        }
        &:hover, &.outline{
            color: $white;
            border-color: $white;
        }
    }
    &.white-hover{
        &:hover, &.outline{
            color: $white;
            border-color: $white;
        }
    }
}

// serviceBtn
.serviceBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: var(--fw-500);
    font-size: var(--fs-16);
    line-height: normal;
    color: $theme1;
    background: linear-gradient(90deg, rgb(lighten($black, 5), 1) 0%, rgb($theme1, 1) 100%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all 0.3s ease-in-out;
    padding-bottom: 2px;
    & span {
        animation: slide2 1s ease-in-out infinite;
        transition: all .4s ease-in-out;
    }
    &:hover{
        background-size: 100% 2px;
    }
}


.video-btn {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    &::before, &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
        animation: borderanimate2 2.5s linear infinite;
    }
    &::before{
        width: 70%;
        height: 70%;
        background-color: rgba($white, 0.2);
    }
    &::after{
        border: 1px solid $white;
        width: 90%;
        height: 90%;
        transform: scale(1.5);
    }
    @keyframes borderanimate2{
        0% {
            transform: translate(-50%, -50%) scale(.8);
        }
        60%{
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(2.5);
            opacity: 0;
        }
    }
}
// --- Heading CSS -----
.sub-heading {
    font-weight: var(--fw-600);
    color: $theme1;
    margin-bottom: 20px;
    text-transform: capitalize;
    & span {
        width: 40px;
        height: 12px;
        border-radius: 30px;
        display: inline-block;
        border: 1px solid $theme1;
        position: relative;
        top: 0;
        margin-right: 10px;
        overflow: hidden;
        &::before{
            content: "";
            width: 18px;
            height: 6px;
            background-color: $theme1;
            border-radius: 30px;
            animation: moveing 2s linear infinite;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    @keyframes moveing {
        0%, 100% {
        left: 2px;
        }
        50% {
        left: 18px;
        }
    }
    &.white-heading{
        color: $white;
        & span {
            border-color: $white;
            &::before{
                background-color: $white;
            }
        }
    }
}
.heading {
    margin-bottom: 30px;
    & span {
        color: $theme1;
        position: relative;
        &::before{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 7px;
            content: "";
            animation: widths 3s linear infinite;
            background-color: $theme1;
            -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 229 7" xmlns="http://www.w3.org/2000/svg"><path d="M229 2.67187C228.139 2.92187 227.429 2.96484 226.707 2.95703C222.57 2.91015 218.428 2.83984 214.291 2.80468C211.131 2.77734 207.866 2.55468 204.835 2.83984C199.487 3.34374 194.151 2.95703 188.826 3.09374C182.696 3.24999 176.505 3.19531 170.336 3.16015C164.983 3.1289 159.63 2.92578 154.26 3.05078C152.173 3.09765 150.057 2.87109 147.969 3.02343C144.893 3.24999 141.839 3.21093 138.774 3.0039C137.375 2.91015 136.042 3.14843 134.67 3.20312C131.039 3.35156 127.402 3.37109 123.765 3.41015C123.126 3.41796 122.432 3.44531 121.855 3.56249C119.8 3.97265 117.59 4.15624 115.441 4.15234C111.782 4.14843 108.234 4.55078 104.558 4.52734C98.3223 4.48437 92.0754 4.74218 85.8342 4.72656C79.8317 4.71484 73.8292 4.67187 67.8267 4.71484C65.5501 4.73046 63.279 4.76953 61.019 4.88281C60.2916 4.91796 59.5587 4.98437 58.8368 4.95703C54.0115 4.78906 49.3028 5.25781 44.5385 5.46484C40.2629 5.64843 35.9929 5.88671 31.7062 6.03515C26.4478 6.21484 21.206 6.53124 15.992 6.89453C11.6886 7.19531 7.57959 6.80468 3.46502 6.36718C1.94913 6.20703 0.072307 4.93749 0.00567426 4.21484C-0.0609585 3.49609 0.577605 3.12499 2.15458 2.95703C6.19141 2.51953 10.356 2.49999 14.4317 2.13281C23.366 1.32421 32.4003 0.816401 41.4901 0.558588C48.6253 0.355463 55.7662 0.273432 62.9181 0.285151C68.4375 0.292963 73.9624 0.164057 79.4763 0.226557C85.4066 0.292963 91.3258 0.164057 97.2506 0.164057C106.585 0.164057 115.924 0.0117134 125.259 0.00390089C133.382 -0.0039116 141.506 0.0742134 149.624 0.281245C164.394 0.660151 179.187 0.886713 193.94 1.38671C204.074 1.73046 214.219 1.96484 224.352 2.28515C225.868 2.32812 227.329 2.48046 229 2.67187Z"/></svg>');
            mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 229 7" xmlns="http://www.w3.org/2000/svg"><path d="M229 2.67187C228.139 2.92187 227.429 2.96484 226.707 2.95703C222.57 2.91015 218.428 2.83984 214.291 2.80468C211.131 2.77734 207.866 2.55468 204.835 2.83984C199.487 3.34374 194.151 2.95703 188.826 3.09374C182.696 3.24999 176.505 3.19531 170.336 3.16015C164.983 3.1289 159.63 2.92578 154.26 3.05078C152.173 3.09765 150.057 2.87109 147.969 3.02343C144.893 3.24999 141.839 3.21093 138.774 3.0039C137.375 2.91015 136.042 3.14843 134.67 3.20312C131.039 3.35156 127.402 3.37109 123.765 3.41015C123.126 3.41796 122.432 3.44531 121.855 3.56249C119.8 3.97265 117.59 4.15624 115.441 4.15234C111.782 4.14843 108.234 4.55078 104.558 4.52734C98.3223 4.48437 92.0754 4.74218 85.8342 4.72656C79.8317 4.71484 73.8292 4.67187 67.8267 4.71484C65.5501 4.73046 63.279 4.76953 61.019 4.88281C60.2916 4.91796 59.5587 4.98437 58.8368 4.95703C54.0115 4.78906 49.3028 5.25781 44.5385 5.46484C40.2629 5.64843 35.9929 5.88671 31.7062 6.03515C26.4478 6.21484 21.206 6.53124 15.992 6.89453C11.6886 7.19531 7.57959 6.80468 3.46502 6.36718C1.94913 6.20703 0.072307 4.93749 0.00567426 4.21484C-0.0609585 3.49609 0.577605 3.12499 2.15458 2.95703C6.19141 2.51953 10.356 2.49999 14.4317 2.13281C23.366 1.32421 32.4003 0.816401 41.4901 0.558588C48.6253 0.355463 55.7662 0.273432 62.9181 0.285151C68.4375 0.292963 73.9624 0.164057 79.4763 0.226557C85.4066 0.292963 91.3258 0.164057 97.2506 0.164057C106.585 0.164057 115.924 0.0117134 125.259 0.00390089C133.382 -0.0039116 141.506 0.0742134 149.624 0.281245C164.394 0.660151 179.187 0.886713 193.94 1.38671C204.074 1.73046 214.219 1.96484 224.352 2.28515C225.868 2.32812 227.329 2.48046 229 2.67187Z"/></svg>');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: left bottom;
            mask-position: left bottom;
            -webkit-mask-size: cover;
            mask-size: cover;
        }

        @keyframes widths {
            0% {
            width: 0%;
            }
            50% {
            width: 97%;
            left: 0;
            }
            100% {
            width: 0;
            }
        }
    }
}

// list
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    & li {
        position: relative;
        padding-left: 25px;
        gap: 10px;
        font-weight: 600;
        &::before{
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 1px;
            left: 0;
            background: url(../images/icon/check.svg) no-repeat center;
            background-size: 20px;
        }
    }
}

// shap-arrow-btn {
.shap-arrow-btn {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    & img {
        animation: slide2 1s ease-in-out infinite;
        transition: all .4s ease-in-out;
    }
}


@keyframes slide2 {
    0% , 100% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(0, 0);
    }
}
@keyframes circleanimation { 
    0% { 
        transform: rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg); 
    }
}
@keyframes scalX { 
    0% { 
        width: 0px;
    } 
    100% { 
        width: 100%; 
    }
}
@keyframes brightness {
    0% , 100% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.3;
    }
}
