@import 'variables';
@import 'font';

:root{
    // Font-Size
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-34: 34px;
    --fs-36: 36px;
    --fs-38: 38px;
    --fs-40: 40px;

    // Font Weight
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}


h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
    line-height: 1.2;
    color:$theme2;
}
h1,h2{
    font-weight: var(--fw-700);
}
h3,h4,h5,h6{
    font-weight: var(--fw-600);
}
h1{
    font-size: 70px;
}
h2{
    font-size: 44px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
    font-size: 16px;
}
a{
    text-decoration: none;
    color:$theme2;
    &:hover{
        color: $theme1;
    }
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-size: var(--fs-16);
    line-height: 1.6;
    font-weight: 300;
}

p:not(:last-child){
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track-piece {
    background: var(--theme1);
}
::-webkit-scrollbar-thumb {
    background: var(--theme1);
    width: 0px;
    height: 0px;;
}
.section-spacing{
    padding-top: 120px;
    padding-bottom: 120px;
}
body{
    font-family: "Inter", sans-serif;
    font-size: var(--fs-16);
    margin: 0px;
    padding: 0px;
}
html, body {
    overflow: hidden auto;
    user-select: none;
}
::before, ::after, * {
    transition: all ease-in-out 0.3s;
    box-sizing: border-box
}
img {
    max-width: 100%
}


@import 'header';
@import 'button';
@import 'form';
@import 'index';
@import 'other';
@import 'footer';
@import 'responsive';
